* {
	margin:0px;
	padding:0px;
}
#naglowek {
	height:80px;
	background-color:#00839C;
	color:white;
	font-family:Tahoma;
	text-align:center;
}
#lewy{
	float:left;
	background-color:#20D9FB;
	width:30%;
	height:750px;
}
#prawy{
	float:left;
	background-color:#00BDE2;
	width:70%;
	height:750px;
}
#stopka{
	background-color:#00839C;
	color:white;
	text-align:right;
}
#obrazek{
	padding:30px;
	border: 2px solid blue;
}

ol li{
	margin-left:40px;
}
#reset{
	margin:20px;
	background-color:blue;
	color:white;
	border:none;
}
#wyslij{
	margin:20px;
	background-color:blue;
	color:white;
	border:none;
}
	