#baner 
{
	background-image : url(menu.jpg);
	color: #0000FF;
	height:200px;
}
#kol1
{
	background-color: rgb(255, 218, 65);
	text-align: center;
	width:40%;
	height: 400px;
	float:left;
}
#kol2
{
	background-color: rgb(255, 226, 100);
	text-align: center;
	width:30%;
	height: 400px;
	float:left;
}
#kol3
{
	background-color: rgb(255, 233, 143);
	text-align: center;
	width:30%;
	height: 400px;
	float:left;
}
#stopka
{
	background-color: rgb(255, 218, 65);
	color: #0000FF;
}
a
{
	color: green;
}
p
{
	font-size: 130%;
}