# Ignore Node dependencies
node_modules/

## System files to ignore
# Windows
desktop.ini
Thumbs.db
ehthumbs.db

# MacOS
.DS_Store

# VSCode files, except for configuration
.vscode/*
!.vscode/*.json

# Temp
~*
