@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&family=Open+Sans:ital@0;1&family=Source+Code+Pro:ital@0;1&family=Source+Serif+Pro:ital@0;1&display=swap');

div#header {
    background-color: #464B80;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464B80;
    min-height: 100px;
}

#header .header-image {
    position: relative;
}

html {
    background-color: #D0D2EE;
    scroll-padding-top: 100px;
}

html.smooth-scroll {
    scroll-behavior: smooth;
}

#header .header-image img[src="logo-notext.png"] {
    width: 96px;
    height: auto;
}

#header .header-image h1.primary {
    position: absolute;
    font-size: 23px;
    top: 17px;
    left: 2.6px;
    user-select: none;
}

#header .header-image h1.secondary {
    position: absolute;
    font-size: 11px;
    top: 44px;
    left: 77px;
    user-select: none;
}

input, header, footer, nav {
    font-family: Corbel, 'Gill Sans', Tahoma, Verdana, Arial, sans-serif;
}

body {
    margin: 0;
}

dt {
    font-weight: bold;
    background-image: linear-gradient(to right,#fee4c8,transparent 30%);
    padding-left: 10px;
    border-radius: 1em;
}

dd {
    margin-inline-start: 2.25rem;
}

#navigation {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 30px;
}

#navigation input[type="checkbox" i] {
    display: none;
}

#navigation input + label {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464B80;
    font-family: 'Open Sans','Fira Sans',Arial,sans-serif;
}

#navigation input + label::before {
    content: "";
    border-width: 5px 10px 5px 0;
    border-style: solid;
    border-color: transparent currentColor transparent transparent;
    transform: translateX(-5px) rotate(0deg);
    transition: transform .5s ease-in-out;
    position: relative;
}

#navigation input:checked + label::before {
    transform: translateX(-5px) rotate(-90deg);
}

#navigation input + label + nav {
    max-height: 0px;
    height: auto;
    overflow-y: hidden;
    transition: max-height .4s ease-in-out;
    z-index: -1;
}

#navigation input:checked + label + nav {
    max-height: 400px;
}

nav {
    width: 100%;
}

nav #block-menu {
    margin: 0;
    padding: 0;
}

nav #block-menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 150px;
    padding-right: 1px;
    visibility: hidden;
    text-align: right;
}

nav #block-menu li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 1px;
}

nav #block-menu li:hover ul {
    visibility: visible;
    width: auto;
    height: auto;
}

nav #block-menu a, nav #block-menu li:hover li a {
    display: block;
    text-decoration: none;
    padding: 15px 10px;
    width: 100%;
    background-color: #C0C2DD;
    box-sizing: border-box;
    color: black;
    text-align: center;
}

nav #block-menu li:hover a, nav #block-menu li:hover li:hover a {
    background-color: #A0A2BB;
    color: white;
}

main {
    margin: 100px auto 0;
    background-color: white;
    padding: 1.2rem;
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
    font-family: 'Open Sans','Fira Sans',Arial,sans-serif;
    border-radius: 0 0 2.5rem 2.5rem;
    line-height: 1.5;
}

.ws-pre, pre {
    white-space: pre-line;
}

header .header-image h1 {
    font-family: Corbel, 'Gill Sans', Tahoma, Verdana, Arial, sans-serif;
}

header h1 {
    border-bottom: 0px;
}

header h2 {
    border-bottom: 0px;
}

header .pagetitle {
    display: none;
}

.pagetitle h1 {
    margin-block: 0;
}

h1, h2 {
    margin-block-end: 0.2em;
    border-bottom: 1px solid #696969;
    font-family: 'Source Serif Pro',Georgia,'Times New Roman',Times,serif;
}
h3 {
    margin-block: 0.5em;
}
h4 {
    margin-block: 0.66em;
}
h5 {
    margin-block: 0.75em;
}
h6 {
    margin-block: 0.83em;
}
p {
    margin-block: 0.25em;
    text-indent: 2em;
    widows: 2;
    orphans: 2;
}

p.noindent {
    text-indent: revert;
}
main :is(ol, ul) {
    margin-block: 0.2em;
    padding-inline-start: 1.5em;
}

footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    box-sizing: border-box;
}

footer div {
    padding: 0 30px;
}

a:link    { text-decoration: none; color: #4444dd; }
a:visited { text-decoration: none; color: #8844dd; }
a:hover   { text-decoration: underline solid; color: #6666aa; }
a:active  { text-decoration: underline solid; color: #dd8844; }

fieldset, legend {
    border: 2px solid #C0C2DD;
    border-radius: 10px;
    background-color: #e3e4f2;
}

fieldset form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

legend {
    padding-inline: 5px;
    font-weight: bold;
}

fieldset label {
    font-size: 0.875em;
    text-transform: uppercase;
    color: #464b80;
}

fieldset label.rc {
    text-transform: revert;
}

fieldset input:not(:is([type="button" i], [type="submit" i], [type="reset" i])), fieldset textarea, fieldset select {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #6666aa;
    font-family: 'Open Sans','Fira Sans',Arial,sans-serif;
}

:is([type="button" i], [type="submit" i], [type="reset" i]) {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #6666aa;
    background-color: #f5f5fa;
    font-family: 'Open Sans','Fira Sans',Arial,sans-serif;
}

fieldset textarea {
    resize: vertical;
    width:calc(100% - 0.75em)
}

fieldset form .span-whole {
    grid-column: 1/-1; /* cała szerokość siatki */
}

fieldset form div {
    display: flex;
    flex-direction: column;
}

ul.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 0;
}

ul.gallery li {
    display: flex;
    /* list-style: none jest niepotrzebne, jeżeli "display" ma wartość inną niż "list-item" */
    flex-direction: column;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #6666aa;
    color: white;
}

ul.gallery li .imgbox {
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #C0C2DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.gallery li .caption {
    padding: 5px;
    word-wrap: break-word;
    max-width: 130px;
    font-size: 0.72em;
}

ul.gallery li a:link { color: #e3e4f2; }
ul.gallery li a:visited { color: #ad8ace; }
ul.gallery li a:hover { color: #b8bcfa; }

main img {
    max-width: 100%;
}

#header-filler {
    width: 150px;
    display: none;
}

.header-image {
    background-color: #464B80;
}

table > caption {
    font-weight: bold;
}

table.contenttable {
    background-color: #464B80;
    border-spacing: 1px;
    margin: 0 auto;
    padding: 0.25rem;
}

table.contenttable     > tr > th,
table.contenttable > * > tr > th {
    background-color: #D0D2EE;
}

table.contenttable     > tr > td,
table.contenttable > * > tr > td {
    background-color: white;
}

table.contenttable     > tr > th,
table.contenttable > * > tr > th,
table.contenttable     > tr > td,
table.contenttable > * > tr > td {
    padding: 0.2rem;
}

table.roundtable {
    border-radius: 0.8rem;
}

table.roundtable     > tr:first-child > th:first-child,
table.roundtable > * > tr:first-child > th:first-child,
table.roundtable     > tr:first-child > td:first-child,
table.roundtable > * > tr:first-child > td:first-child {
    border-radius: 0.6rem 0 0 0;
}

table.roundtable     > tr:first-child > th:last-child,
table.roundtable > * > tr:first-child > th:last-child,
table.roundtable     > tr:first-child > td:last-child,
table.roundtable > * > tr:first-child > td:last-child {
    border-radius: 0 0.6rem 0 0;
}

table.roundtable     > tr:last-child > th:first-child,
table.roundtable > * > tr:last-child > th:first-child,
table.roundtable     > tr:last-child > td:first-child,
table.roundtable > * > tr:last-child > td:first-child {
    border-radius: 0 0 0 0.6rem;
}

table.roundtable     > tr:last-child > th:last-child,
table.roundtable > * > tr:last-child > th:last-child,
table.roundtable     > tr:last-child > td:last-child,
table.roundtable > * > tr:last-child > td:last-child {
    border-radius: 0 0 0.6rem 0;
}

@media (min-width: 300px) {
    #navigation {
        position: fixed;
        width: revert;
        height: 100px;
    }

    #header {
        flex-direction: row;
        padding: 0 1.35rem;
    }

    header {
        width: 100%;
    }

    #navigation input + label {
        height: 100px;
        width: 150px;
    }

    nav {
        position: fixed;
        right: 0;
        width: 150px;
    }

    nav #block-menu ul, nav #block-menu a, nav #block-menu li:hover li a {
        width: 150px;
        text-align: revert;
    }
}
@media (min-width: 500px) {
    main {
        margin-top: 100px;
    }

    main h1:first-of-type {
        display: none;
    }

    header .pagetitle, #header-filler {
        display: block;
    }

    fieldset form {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 720px) {
    main, footer {
        max-width: 720px;
    }
}
@media (min-width: 1000px) {
    main {
        max-width: calc(100vw - 300px);
        margin-left: 150px;
        margin-right: 150px;
    }

    footer {
        max-width: calc(100vw - 300px);
        margin: 0 150px;
    }

    fieldset form {
        grid-template-columns: 1fr 1fr 1fr;
    }
}